---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-header-container">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    <div class="post-actions">
      <a href="/random-2hu-stuff/assets/mmd.md" download="mmd.md">
        <i class="nf nf-md-download"></i> md文件下载
      </a>
      <a href="{{ "/feed/mmd.xml" | relative_url }}">
        <i class="nf nf-cod-rss"></i> rss订阅
      </a>
    </div>    
  </div>

    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content | toc }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <button id="back-to-top" class="back-to-top">
    ⬆ 返回顶部
  </button>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var backToTopButton = document.getElementById("back-to-top");
  
      // 监听滚动事件，显示或隐藏按钮
      window.addEventListener("scroll", function () {
        if (window.scrollY > 300) { // 当滚动超过 300px 时显示按钮
          backToTopButton.style.display = "block";
        } else {
          backToTopButton.style.display = "none";
        }
      });
  
      // 点击按钮返回顶部
      backToTopButton.addEventListener("click", function () {
        window.scrollTo({
          top: 0,
          behavior: "smooth" // 平滑滚动效果
        });
      });
    });
  </script>
</article>
